@layout("/common/_curd/_container.html"){
<!-- PAGE CONTENT BEGINS -->
<form class="form-horizontal" role="form">
	<div class="space-4"></div>
	<!-- #section:elements.form -->
	<div class="form-group">
		<label class="col-sm-2 control-label no-padding-right" > 接受用户 </label>

		<div class="col-sm-8">
			<input type="text" name="name" id="name" placeholder="" class="form-control" disabled="disabled"/>
		</div>
	</div>

	<div class="form-group">
		<label class="col-sm-2 control-label no-padding-right" > 发送类型 </label>
		<div class="col-sm-8">
			<label><input type="radio" name="send" class="rdo" checked value="0">系统通知(3次)</label>
		</div>
	</div>

	<div class="form-group">
		<label class="col-sm-2 control-label no-padding-right" > 标题 </label>

		<div class="col-sm-8">
			<input type="text" name="title" id="title" placeholder="" class="form-control" />
		</div>
	</div>
	<div class="form-group">
		<label class="col-sm-2 control-label no-padding-right" > 内容 </label>

		<div class="col-sm-8">
			<textarea id="content" style="height:200px" name="content" placeholder="" class="form-control"></textarea>
		</div>
	</div>

	<div class="clearfix form-actions center" style="margin-top:15px;margin-bottom:5px;">
		<div class="col-md-offset-1 col-md-10">
			<button class="btn btn-info" type="button" id="btn_save" >
				<i class="ace-icon fa fa-check bigger-110"></i>
				确认
			</button>
			&nbsp; &nbsp; &nbsp;
			<button class="btn" type="button" id="btn_close">
				<i class="ace-icon fa fa-close bigger-110"></i>
				关闭
			</button>
		</div>
	</div>

	<script src="${basePath}/static/laydate/laydate.js"></script>
	<script type="text/javascript">

		var layerIndex = parent.layer.getFrameIndex(window.name);
		var userName = "${userInfo.username}";
		var userId = "${userInfo.userId}";
		var userInfoNum = "${userInfoNum}";
		var flag = "${flag}";

		$(function(){


			if(userInfoNum==0){
				$("#name").val(userName);
			}else {
				$("#name").val(userInfoNum+" 个");
			}

			if(flag>=3){
				$("#btn_save").attr("disabled",true);
				$("#name").val("发送次数已达上限!");
			}


			$("#btn_close").bind("click",function(){
				parent.layer.close(layerIndex);
			});

			$("#btn_save").bind("click",function(){
				var title = $("#title").val();
				var content = $("#content").val();

				$.post("${basePath}/${code}/send_message",{userId:userId , title:title, content:content}, function(data){
					if(data.code===0){
						layer_alert(data.message, "success");
						parent.layer.close(layerIndex);
					}
					else{
						layer_alert(data.message, "error");
					}
				}, "json");

			});



		})

	</script>

	<div class="space-4"></div>
</form>
@}
