@layout("/common/_curd/_container.html"){

<script type="text/javascript">
    var ctx="${basePath}";
    var grid_selector = "#grid-table";
    var pager_selector = "#grid-pager";
    var hidden = 1;
    $(function(){
        initGrid();
        initMenuBtn("btns","${code}");
    });

    function initGrid(){
        var list = JSON.parse('${classificationList}');
        var list2 = JSON.parse('${tagList}');
        var grid_url = ctx+"/${code}/list";//查询列表接口
        var _colnames=[
            "序列",
            "用户id",
            "名字",
            "性别",
            "年龄",
            "地区",
            "毕业院校",
            "事业状态",
            "行业领域",
            "职业",
            "专业",
            "擅长",
            "资历",
            "资源",
            "组织名称",
            "组织类型",
            "产品服务",
            "行业地位",
            "资质",
            "个人关键字",
            "电话",
            "加入时间",
            "到期时间",
            "会员类型",
            "加入方式",
            "分组",
            "标记",
            "操作"
        ];
        var _colmodel=[
            {name:"id",index:"id", width:80,hidden:true},
            {name:"userId",index:"userId", width:80,hidden:true},
            {name:"userName",index:"userName", width:120},
            {name:"gender",index:"gender", width:120,
                formatter: function (cellvalue, options, rowObject) {
                    if(cellvalue==1){
                        return "男";
                    }else {
                        return "女";
                    }
                }
            },
            {name:"age",index:"age", width:100},
            {name:"provinceCity",index:"provinceCity", width:100},
            {name:"school",index:"school", width:200},
            {name:"career",index:"career", width:200},
            {name:"domain",index:"domain", width:200},
            {name:"professional",index:"professional", width:200},
            {name:"zy",index:"zy", width:140},
            {name:"sc",index:"sc", width:120},
            {name:"zl",index:"zl", width:120},
            {name:"zy2",index:"zy2", width:120},
            {name:"groupName",index:"groupName", width:120},
            {name:"groupType",index:"groupType", width:120,
                formatter: function (cellvalue, options, rowObject) {
                    if(cellvalue==1){
                        return "行业协会";
                    }else if(cellvalue==2){
                        return "校友会";
                    }else if(cellvalue==3){
                        return "兴趣组织";
                    }else if(cellvalue==4){
                        return "公益机构";
                    }else if(cellvalue==5){
                        return "文化沙龙";
                    }
                }
            },
            {name:"productType",index:"productType", width:120,
                formatter: function (cellvalue, options, rowObject) {
                    if(cellvalue==1){
                        return "产品";
                    }else {
                        return "服务";
                    }

                }
            },
            {name:"industryRanking",index:"industryRanking", width:120},
            {name:"qualification",index:"qualification", width:220},
            {name:"keyWord",index:"keyWord", width:120},
            {name:"mobile",index:"mobile", width:120},
            {name:"createTime",index:"createTime", width:120},
            {name:"vipEndTime",index:"vipEndTime", width:120},
            {name:"vipType",index:"vipType", width:120,
                formatter: function (cellvalue, options, rowObject) {
                    if(cellvalue==1){
                        return "会员";
                    }else {
                        return "干事";
                    }
                }},
            {name:"joinType",index:"joinType", width:120,
                formatter: function (cellvalue, options, rowObject) {
                    if(cellvalue==1){
                        return "主动申请";
                    }else {
                        return "组织邀请";
                    }
                }
            },
            {name:"classification",index:"classification",width:500, title:false,
                formatter: function(cellvalue, options, rowObject) {
                    var userId = rowObject.userId;
                    var html = "";
                    html += "<select style='float: right' id='group_select' onchange='user_classification_add(this,"+userId+")'>";
                    html += "<option></option>";
                    for(var i=0;i< list.length;i++){
                        html += "<option value='"+list[i].id+"' >"+list[i].classification+"</option>";
                    }
                    html += "</select>";

                    var cellvalues = cellvalue+"";
                    var a = cellvalues.split(",");
                    var cev = "";
                    var index=0;
                    for(var j=0;j<a.length;j++){
                        if(a[j] != "undefined"){
                            if(index<3){
                                cev += "<div class='col-sm-3 input-group' style='float:left;background: #666;color: white;position: relative;font-size: 15px;width: auto;text-indent: 10px;margin:0 5px 5px 0'>" + a[j];
                                cev += "	<span class='o_close' data-percent='' onclick=\"user_classification_del('"+a[j]+"',"+userId+")\" style='cursor: pointer;color: #ccc;margin: 0 5px auto'>x</span>	";
                                cev += "</div>   ";
                            }else{
                                cev += "<div class='col-sm-3 input-group hid' style='display: none;float:left;background: #666;color: white;position: relative;font-size: 15px;width: auto;text-indent: 10px;margin:0 5px 5px 0;'>" + a[j];
                                cev += "	<span class='o_close' data-percent='' onclick=\"user_classification_del('"+a[j]+"',"+userId+")\" style='cursor: pointer;color: #ccc;margin: 0 5px auto'>x</span>	";
                                cev += "</div>   ";

                                if((j+1)==a.length){
                                    cev += "<div class='col-sm-3 input-group' style='float:left'>";
                                    cev += "<button onclick='hid(this)'>更多</button>";
                                    cev += "</div>   ";
                                }
                            }

                        }

                    }
                    return cev+html;
                }
            },
            {name:"tag",index:"tag",width:500, title:false,
                formatter: function(cellvalue, options, rowObject) {
                    var userId = rowObject.userId;
                    var html = "";
                    html += "<select style='float: right' id='group_select1' onchange='user_tag_add(this,"+userId+")'>";
                    html += "<option></option>";
                    for(var i=0;i< list2.length;i++){
                        html += "<option value='"+list2[i].id+"' >"+list2[i].tag+"</option>";
                    }
                    html += "</select>";

                    var cellvalues = cellvalue+"";
                    var a1 = cellvalues.split(",");
                    var cev1 = "";
                    var index1=0;
                    for(var j=0;j<a1.length;j++){
                        if(a1[j] != "undefined"){
                            if(index1<3){
                                cev1 += "<div class='col-sm-3 input-group' style='float:left;background: #666;color: white;position: relative;font-size: 15px;width: auto;text-indent: 10px;margin:0 5px 5px 0'>" + a1[j];
                                cev1 += "	<span class='o_close' data-percent='' onclick=\"user_tag_del('"+a1[j]+"',"+userId+")\" style='cursor: pointer;color: #ccc;margin: 0 5px auto'>x</span>	";
                                cev1 += "</div>   ";
                            }else{
                                cev1 += "<div class='col-sm-3 input-group hid' style='display: none;float:left;background: #666;color: white;position: relative;font-size: 15px;width: auto;text-indent: 10px;margin:0 5px 5px 0;'>" + a1[j];
                                cev1 += "	<span class='o_close' data-percent='' onclick=\"user_tag_del('"+a1[j]+"',"+userId+")\" style='cursor: pointer;color: #ccc;margin: 0 5px auto'>x</span>	";
                                cev1 += "</div>   ";

                                if((j+1)==a1.length){
                                    cev1 += "<div class='col-sm-3 input-group' style='float:left'>";
                                    cev1 += "<button onclick='hid(this)'>更多</button>";
                                    cev1 += "</div>   ";
                                }
                            }

                        }

                    }

                    return cev1+html;
                }
            },
            { title:false,
                width: 300,
                formatter: function (cellvalue, options, rowObject) {
                    var id = rowObject.userId;

                    var remove = "<button title='移除组织' class='btn btn-primary btn-circle edit' onclick=\"remove(\'" + id + "\')\">" +
                            "<i class='fa fa-circle'></i> 移除组织</button>";
                    return remove;
                }
            }

        ];

        jQuery(grid_selector).jqGrid({
            url:grid_url,
//            shrinkToFit:true,//适用于较少字段,响应式
            autowidth : true,
            forceFit : true,
            colNames:_colnames,
            colModel:_colmodel,
            jsonReader:{id:"userId"},
            pager : pager_selector,
            postData: {sort: "id", order: "asc"}
        });

    }

    function hid(data){
        if($(data).text()=="更多"){
            $(data).parent().parent().find("div.col-sm-3.input-group.hid").css('display','block');
            $(data).text("隐藏");
        }else {
            $(data).parent().parent().find("div.col-sm-3.input-group.hid").css('display','none');
            $(data).text("更多");
        }
    }

    function user_classification_del(data,userId){
        $.post("${basePath}/${code}/user_classification_del", { classification: data ,userId:userId}, function (data) {
            if (data.code === 0) {
                $(grid_selector).trigger("reloadGrid");
            }
            else {
                layer_post(data);
            }
        }, "json");
    }

    function user_classification_add(data,userId){
        var classificationId = $(data).val();
        if(classificationId==""){
            return;
        }
        $.post("${basePath}/${code}/user_classification_add", { classificationId: classificationId ,userId:userId}, function (data) {
            if (data.code === 0) {
                $(grid_selector).trigger("reloadGrid");
            }
            else {
                layer_post(data);
            }
        }, "json");
    }

    function user_tag_del(data,userId){
        $.post("${basePath}/${code}/user_tag_del", { tag: data ,userId:userId}, function (data) {
            if (data.code === 0) {
                $(grid_selector).trigger("reloadGrid");
            }
            else {
                layer_post(data);
            }
        }, "json");
    }

    function user_tag_add(data,userId){
        var tagId = $(data).val();
        if(tagId==""){
            return;
        }
        $.post("${basePath}/${code}/user_tag_add", { tagId: tagId ,userId:userId}, function (data) {
            if (data.code === 0) {
                $(grid_selector).trigger("reloadGrid");
            }
            else {
                layer_post(data);
            }
        }, "json");
    }

    function date_format(data){
        var d = new Date(data);    //根据时间戳生成的时间对象

        var date = (d.getFullYear()) + "-" +
                (d.getMonth() + 1) + "-" +
                (d.getDate()) + " " +
                (d.getHours()) + ":" +
                (d.getMinutes()) + ":" +
                (d.getSeconds());
        return date;
    }

    function remove(id){
        //询问框
        layer.confirm("确定将该用户移除组织吗?", {
            btn: ['确定','取消'] //按钮
        }, function(){
            $.post(
                    "${basePath}/${code}/removeUser",
                    {id:id,status:status},
                    function (data){
                        if(data.code===0){
                            $jqGrid.jqGrid("setGridParam").trigger("reloadGrid");
                            layer.msg('成功', {
                                time: 1000 //1s后自动关闭
                            });
                        }else {
                            layer.msg('错误', {
                                time: 1000
                            });
                        }
                    }, "json"
            );
        });
    }

</script>


<!-- 配置grid -->
<div class="row">
    <div class="col-xs-12 tb-grid">
        <!-- 配置查询 -->
        @ var _col=[
        @			  {name:"加入方式",index:"approvalType", type:"select_925"},
        @			  {name:"审核状态",index:"approvalStatus", type:"select_924"}
        @		   ];
        @ include("/common/_function/_search.html",{"col":_col}){}
        <!-- 按钮组 -->
        <div class="welljq well-sm" id="btns"></div>
        <div class="welljq well-sm" id="columns">
            <input type="checkbox" value="userName" class="cbox" checked="checked" disabled="disabled"/>名字
            <input type="checkbox" value="gender" class="cbox" checked="checked"/>性别
            <input type="checkbox" value="age" class="cbox" checked="checked"/>年龄
            <input type="checkbox" value="provinceCity" class="cbox" checked="checked"/>地区
            <input type="checkbox" value="school" class="cbox" checked="checked"/>毕业院校
            <input type="checkbox" value="career" class="cbox" checked="checked"/>事业状态
            <input type="checkbox" value="domain" class="cbox" checked="checked"/>行业领域
            <input type="checkbox" value="professional" class="cbox" checked="checked"/>职业
            <input type="checkbox" value="zy" class="cbox" checked="checked"/>专业
            <input type="checkbox" value="sc" class="cbox" checked="checked"/>擅长
            <input type="checkbox" value="zl" class="cbox" checked="checked"/>资历
            <input type="checkbox" value="zy2" class="cbox" checked="checked"/>资源
            <input type="checkbox" value="groupName" class="cbox" checked="checked"/>组织名称
            <input type="checkbox" value="groupType" class="cbox" checked="checked"/>组织类型
            <input type="checkbox" value="productType" class="cbox" checked="checked"/>产品服务
            <input type="checkbox" value="industryRanking" class="cbox" checked="checked"/>行业地位
            <input type="checkbox" value="qualification" class="cbox" checked="checked"/>资质
            <input type="checkbox" value="keyWord" class="cbox" checked="checked"/>个人关键字
            <input type="checkbox" value="approvalType" class="cbox" checked="checked"/>加入方式
            <input type="checkbox" value="validateInfo" class="cbox" checked="checked"/>验证信息
            <input type="checkbox" value="approvalStatus" class="cbox" checked="checked"/>状态
            <input type="checkbox" value="createTime" class="cbox" checked="checked"/>申请时间
        </div>
        <!-- grid -->
        <table id="grid-table"></table>
        <!-- 分页 -->
        <div id="grid-pager"></div>
    </div>
</div>

<!-- 引入列表页所需js -->
@include("/common/_listscript.html"){}
<link rel="stylesheet" href="${basePath}/static/zTree/css/zTreeStyle/zTreeStyle.css" />
<script src="${basePath}/static/zTree/js/jquery.ztree.core.js" type="text/javascript" ></script>
@}