@layout("/common/_curd/_container.html"){
<!-- PAGE CONTENT BEGINS -->
<form class="form-horizontal" role="form">
    <div class="space-4"></div>
    <!-- #section:elements.form -->

    <div class="form-group">
        <label class="col-sm-2 control-label no-padding-right" > 是否公开组织 </label>
        <div class="col-sm-8">
            <label><input type="radio" name="permissionsType" class="rdo" checked value="1">公开组织</label>
            <label><input type="radio" name="permissionsType" class="rdo" value="2">隐藏组织</label>
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-2 control-label no-padding-right" > 是否开放申请 </label>
        <div class="col-sm-8">
            <label><input type="radio" name="isJoin" class="rdo" checked value="1">开放组织</label>
            <label><input type="radio" name="isJoin" class="rdo" value="2">关闭组织</label>
        </div>
    </div>
    <div class="form-group">
        <label class="col-sm-2 control-label no-padding-right" > 是否允许引荐 </label>
        <div class="col-sm-8">
            <label><input type="radio" name="isIntroduce" class="rdo" checked value="1">允许引荐</label>
            <label><input type="radio" name="isIntroduce" class="rdo" value="2">拒绝引荐</label>
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-2 control-label no-padding-right" > 会员费用 </label>
        <div class="col-sm-8">
            <input type="text" name="cost" id="cost" placeholder="" class="form-control" value="0"/>
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-2 control-label no-padding-right" > 会员期限 </label>
        <div class="col-sm-8">
            <label><input type="radio" name="costType" class="rdo" checked value="1">年费</label>
            <label><input type="radio" name="costType" class="rdo" value="2">永久</label>
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-2 control-label no-padding-right" > 性别限制 </label>
        <div class="col-sm-8">
            <select class="form-control" id="sex_limit" name="sex_limit" >
                <option value="0">不限</option>
                <option value="1">男</option>
                <option value="2">女</option>
            </select>
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-2 control-label no-padding-right" >行业限制</label>
        <div class="col-sm-3">
            <select name="industry_limit" id="industry_limit" class="form-control">
                <option value="0">不限</option>
                @for(x in domains){
                <option value="${x.ID!}">${x.NAME!}</option>
                @}
            </select>
        </div>
        <label class="col-sm-2 control-label no-padding-right" >领域限制</label>
        <div class="col-sm-3">
            <select name="domain_limit" id="domain_limit" class="form-control">
                <option value="0">不限</option>
            </select>
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-2 control-label no-padding-right" >所在省</label>
        <div class="col-sm-3">
            <select name="province_limit" id="province_limit" class="form-control">
                <option value="0">不限</option>
                @for(x in province){
                <option value="${x.code!}">${x.name!}</option>
                @}
            </select>
        </div>
        <label class="col-sm-2 control-label no-padding-right" >所在市</label>
        <div class="col-sm-3">
            <select name="city_limit" id="city_limit" class="form-control">
                <option value="0">不限</option>
            </select>
        </div>
    </div>

    <div class="form-group">
        <label class="col-sm-2 control-label no-padding-right" >职业限制</label>
        <div class="col-sm-3">
            <select name="professional_limit" id="professional_limit" class="form-control">
                <option value="0">不限</option>
                @for(x in professional){
                <option value="${x.ID!}">${x.NAME!}</option>
                @}
            </select>
        </div>
        <label class="col-sm-2 control-label no-padding-right" >专业限制</label>
        <div class="col-sm-3">
            <select name="zy_limit" id="zy_limit" class="form-control">
                <option value="0">不限</option>
            </select>
        </div>
    </div>

    <div class="clearfix form-actions center" style="margin-top:15px;margin-bottom:5px;">
        <div class="col-md-offset-1 col-md-10">
            <button class="btn btn-info" type="button" id="btn_save">
                <i class="ace-icon fa fa-check bigger-110"></i>
                确认
            </button>
            &nbsp; &nbsp; &nbsp;
            <button class="btn" type="button" id="btn_close">
                <i class="ace-icon fa fa-close bigger-110"></i>
                关闭
            </button>
        </div>
    </div>

    <script src="${basePath}/static/laydate/laydate.js"></script>
    <script type="text/javascript">

        function selected(provinceId){
            $("#province option").each(function(){
                if(provinceId == $(this).val()){
                    $(this).attr("selected","selected");
                }
            });
        }

        function city(code){
            var city = "${group.cityLimit}";
            $.post(
                "${ctxPath}/provinceCity/city",
                {code:code},
                function (data) {
                    $("#city_limit").empty();
                    var html = "<option value=''>不限</option>";
                    for(var i=0;i<data.length;i++){
                        var code = data[i].code;
                        var name = data[i].name;
                        if(code==city){
                            html += "<option value='"+code+"' selected>"+name+"</option>";
                        }else {
                            html += "<option value='"+code+"'>"+name+"</option>";
                        }
                    }
                    $("#city_limit").append(html);
                },"json"
            );
        }

        function findChild(id,type){
            $.post(
                "${basePath}/dict/findChild",
                {id:id},
                function (data){
                    var zy_limit = "${group.zyLimit}";
                    var domain_limit = "${group.domainLimit}";
                    var html = "<option value='0'>不限</option>";
                    for(var i=0;i<data.length;i++){
                        var id = data[i].ID;
                        var name = data[i].NAME;
                        if(id==zy_limit || id == domain_limit){
                            html += "<option value='"+id+"' selected>"+name+"</option>";
                        }else {
                            html += "<option value='"+id+"'>"+name+"</option>";
                        }
                    }
                    if(type==1){
                        $("#domain_limit").empty();
                        //行业领域
                        $("#domain_limit").append(html);
                    }else {
                        $("#zy_limit").empty();
                        //职业专业
                        $("#zy_limit").append(html);
                    }
                },
                "json"
            )
        }

        var layerIndex = parent.layer.getFrameIndex(window.name);
        $(function(){

            $("#province_limit").change(function (){
                var code = $(this).val();
                city(code);
            });

            $("#industry_limit").change(function (){
                var id = $(this).val();
                findChild(id,1);
            });

            $("#professional_limit").change(function (){
                var id = $(this).val();
                findChild(id,2);
            });

            var permissions_type = "${group.permissionsType}";
            var is_join = "${group.isJoin}";
            var is_introduce = "${group.isIntroduce}";
            var sex_limit = "${group.sexLimit}";
            var industry_limit = "${group.industryLimit}";
            var domain_limit = "${group.domainLimit}";
            var province_limit = "${group.provinceLimit}";
            var city_limit = "${group.cityLimit}";
            var professional_limit = "${group.professionalLimit}";
            var zy_limit = "${group.zyLimit}";

            var cost_type = "${groupExtend.costType}";
            var _cost = "${groupExtend.cost}";

            if(permissions_type == 1){
                $("input[name='permissionsType']:eq(0)").attr("checked",'checked');
            }else if(permissions_type == 2){
                $("input[name='permissionsType']:eq(1)").attr("checked",'checked');
            }

            if(is_join == 1){
                $("input[name='isJoin']:eq(0)").attr("checked",'checked');
            }else if(is_join == 2){
                $("input[name='isJoin']:eq(1)").attr("checked",'checked');
            }

            if(cost_type == 1){
                $("input[name='costType']:eq(0)").attr("checked",'checked');
            }else if(cost_type == 2){
                $("input[name='costType']:eq(1)").attr("checked",'checked');
            }

            if(is_introduce == 1){
                $("input[name='isIntroduce']:eq(0)").attr("checked",'checked');
            }else if(is_introduce == 2){
                $("input[name='isIntroduce']:eq(1)").attr("checked",'checked');
            }

            selected(province_limit);
            city(province_limit);
            findChild(industry_limit,1);
            findChild(professional_limit,2);

            $("#cost").val(_cost);
            $("#sex_limit").val(sex_limit);
            $("#industry_limit").val(industry_limit);
            $("#domain_limit").val(domain_limit);
            $("#province_limit").val(province_limit);
            $("#city_limit").val(city_limit);
            $("#professional_limit").val(professional_limit);
            $("#zy_limit").val(zy_limit);

            $("#btn_close").bind("click",function(){
                parent.layer.close(layerIndex);
            });

            $("#btn_save").bind("click",function(){
                //是否公开组织
                var permissionsType = $("input[name='permissionsType']:checked").val();
                //是否开放申请
                var isJoin = $("input[name='isJoin']:checked").val();
                //是否允许引荐
                var isIntroduce = $("input[name='isIntroduce']:checked").val();
                //会员费用类型
                var costType = $("input[name='costType']:checked").val();
                //会员费用
                var cost = $("#cost").val();

                var sexLimit = $("#sex_limit").val();
                var industryLimit = $("#industry_limit").val();
                var domainLimit = $("#domain_limit").val();
                var provinceLimit = $("#province_limit").val();
                var cityLimit = $("#city_limit").val();
                var professionalLimit = $("#professional_limit").val();
                var zyLimit = $("#zy_limit").val();

                $.post(
                    "${basePath}/${code}/permission_setting",
                    {
                        permissionsType:permissionsType ,
                        isJoin:isJoin,
                        isIntroduce:isIntroduce,
                        costType:costType,
                        cost:cost,
                        sexLimit:sexLimit,
                        industryLimit:industryLimit,
                        domainLimit:domainLimit,
                        provinceLimit:provinceLimit,
                        cityLimit:cityLimit,
                        professionalLimit:professionalLimit,
                        zyLimit:zyLimit
                    },
                    function(data){
                        if(data.code===0){
                            parent.$jqGrid.jqGrid("setGridParam").trigger("reloadGrid");
                            parent.layer.close(layerIndex);
                        }
                        else{
                            layer_alert("设置失败", "error");
                        }
                    },
                    "json"
                );

            });

        })
    </script>
    <div class="space-4"></div>
</form>
@}
