<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>摩米创新工厂</title>
    <link rel="stylesheet" type="text/css" href="css/index.css" />
</head>
<body>
    <div class="top">
        <div class="use-left">
            <img src="images/use-logo.png" alt="" />
        </div>
        <div class="use-right">
            <div class="use-top">摩米创新工厂</div>
            <div class="use-c"><span class="use-map"></span>宁波</div>
            <div class="use-c"><span class="use-bq"></span>工业现场／创意设计／网络推广／人才<br />&nbsp;&nbsp;&nbsp;&nbsp;培训／法律顾问／财务代表／金融投资</div>
        </div>
        <span style="clear:both;display: block;"></span>
        <div class="use-bottom">
            <div class="use-button">
                <button>结识对方</button>
                <button>结识对方</button>
            </div>
            <span><img src="images/phone.png" alt="" /></span>
        </div>
    </div>
    <div class="container">
        <div class="container-top">
            <div class="c-top-t c-top-t-active"><span>机构介绍</span></div>
            <div class="c-top-t"><span>荣誉成就</span></div>
            <div class="c-top-t"><span>联系我们</span></div>
            <div class="c-top-t"><span>最近活动</span></div>
            <div class="c-top-t"><span>机构日志</span></div>
        </div>
        <div class="c-contain">
            <p>
                摩米创新工场是以电子科技大学专业技术团队为依托，立足光电信息技术创新驱动，集成技术成果转移、项目孵化器、企业加速器、产业聚集园于一体的创新服务平台。2013年8月电子科技大学刘霖博士与浙江省宁波市鄞州区政府签署“摩米创新工场引进协议”，宁波摩米创新工场电子科技有限公司与2013年9月成立，注册资本人民币2000万元。<br>
                摩米创新工场广集科技成果、技术服务、工业设计、孵化场地、中试环境、人才资源、融资渠道、政府扶持等资源，实现工业现场、创意设计、网络推广、人才培训、法律顾问、财务代理、金融投资等专业服务，并与企业密切合作，共建企业联合实验室、企业工场技术中心，快速推动企业集群，整合产业链资源，加速产业升级转型，成就企业家梦想。
            </p>
        </div>
    </div>
    
    <div class="fixed-bottom">
        <div class="fixed-logo"></div>
        <span>立即下载</span>
    </div>
    <script type="text/javascript" src="js/jquery-3.1.1.min.js"></script>
    <script type="text/javascript" src="js/index.js"></script>
</body>
</html>