<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>个人手页</title>
    <link rel="stylesheet" type="text/css" href="${basePath}/static/share/css/index.css" />
</head>
<body>
    <div class="top">
        <div class="use-left">
            <img src="${userVo.avater}" alt="" />
        </div>
        <div class="use-right">
            <div class="use-ing"><span>${userVo.per}%</span></div>
            <div class="use-top"><span>${userVo.username}</span>${userVo.professional} </div>
            <div class="use-c"><span class="use-map"></span>${userVo.provinceCity}</div>
            <div class="use-c"><span class="use-hy"></span>${userVo.domain}</div>
            <div class="use-c"><span class="use-bq"></span>${userVo.keyWord}</div>
            <div class="use-c"><span class="use-lo"></span>${userVo.organization}</div>
        </div>
        <span style="clear:both;display: block;"></span>
        <div class="use-bottom">
            <div class="use-button" style="width:1.6rem;">
                <button>结识对方</button>
            </div>
            <span><img src="${basePath}/static/share/images/phone.png" alt="" /></span>
        </div>
    </div>
    <div class="container">
        <div class="container-top">
            <div class="c-top-t c-top-t-active"><span>个   人</span></div>
            <div class="c-top-t"><span>组   织</span></div>
            <div class="c-top-t"><span>事业状态</span></div>
            <div class="c-top-t"><span>教   育</span></div>
            <div class="c-top-t"><span>发   布</span></div>
        </div>
        <div class="c-contain">
            <p>
                ${userVo.desc}
            </p>
        </div>
    </div>
    
    <div class="fixed-bottom">
        <div class="fixed-logo"></div>
        <span>立即下载</span>
    </div>
    <script type="text/javascript" src="${basePath}/static/share/js/jquery-3.1.1.min.js"></script>
    <script type="text/javascript" src="${basePath}/static/share/js/index.js"></script>
</body>
</html>