<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>个人手页</title>
    <link rel="stylesheet" type="text/css" href="css/index.css" />
</head>
<body>
    <div class="top">
        <div class="use-left">
            <img src="images/use-touxiang.png" alt="" />
        </div>
        <div class="use-right">
            <div class="use-ing"><span>60%</span></div>
            <div class="use-top"><span>张**</span>对外合作部总经理 </div>
            <div class="use-c"><span class="use-map"></span>宁波</div>
            <div class="use-c"><span class="use-hy"></span>科技服务业＋互联网＋制造业</div>
            <div class="use-c"><span class="use-bq"></span>产业链合作／入驻／企业集群／协同<br />&nbsp;&nbsp;&nbsp;&nbsp;创新／科技金融／潮汕</div>
            <div class="use-c"><span class="use-lo"></span>摩米创新工场</div>
        </div>
        <span style="clear:both;display: block;"></span>
        <div class="use-bottom">
            <div class="use-button" style="width:1.6rem;">
                <button id="jsdf">结识对方</button>
            </div>
            <span id="iphone-call"><img src="images/phone.png" alt="" /></span>
        </div>
    </div>
    <div class="container">
        <div class="container-top">
            <div class="c-top-t c-top-t-active" ><span>个   人</span></div>
            <div class="c-top-t"><span>组   织</span></div>
            <div class="c-top-t" ><span>事业状态</span></div>
            <div class="c-top-t" ><span>教   育</span></div>
            <div class="c-top-t" ><span>发   布</span></div>
        </div>
        <div class="c-contain" id="c-contain-one">
            <p>
                男<br />
                30岁<br />
                职业经理人（总经理）<br />
                对外合作<br />
                产业链合作<br />
                10年产业从业经验<br />
                以电子科技大学专业技术团队为依托
            </p>
        </div>
        <div class="c-contain dis-none" id="c-contain-two">
            <p>
                2
            </p>
        </div>
        <div class="c-contain dis-none" id="c-contain-three">
            <p>
                3
            </p>
        </div>
        <div class="c-contain dis-none" id="c-contain-four">
            <p>
                4
            </p>
        </div>
        <div class="c-contain dis-none" id="c-contain-five">
            <p>
                5
            </p>
        </div>
    </div>
    
    <div class="fixed-bottom">
        <div class="fixed-logo"></div>
        <span>立即下载</span>
    </div>
    <script type="text/javascript" src="js/jquery-3.1.1.min.js"></script>
    <script type="text/javascript" src="js/index.js"></script>
</body>
</html>