@layout("/common/_curd/_container.html"){
<!-- PAGE CONTENT BEGINS -->
<link rel="stylesheet" media="screen" href="${basePath}/static/jquery-res/css/zzsc.css" />
<link rel="stylesheet" media="screen" href="${basePath}/static/validate/common.css" />
<style>
    .but{
        width: 50px;
        height: 34px;
        background: #6fb3e0;
        font-weight: bold;
        color: white;
        border: 0 none;
        border-radius: 1px;
        cursor: pointer;

    }
    .but:hover, .but:focus {
        box-shadow: 0 0 0 2px white, 0 0 0 3px #6fb3e0;
    }
</style>


<form class="form-horizontal" role="form" method="post"
      xmlns:blade="http://www.w3.org/1999/xhtml" id="msform">
    <div class="space-4"></div>

    <fieldset>

        <div class="form-group" >
            <label class="col-sm-2 control-label no-padding-right" > 手机号 </label>
            <div class="col-sm-7"  style="text-align:center">
                <input type="text" id="oldMobile" name="mobile" class="form-control"  value="" placeholder="" />
            </div>
        </div>

        <div class="form-group">
            <label class="col-sm-2 control-label no-padding-right" >验证码</label>
            <div class="col-sm-6">
                <input type="text" id="verification_code" name="verification_code" value="" placeholder="" class="form-control" onblur="checkCode()" />
            </div>
            <div class="col-sm-1">
                <input type="button" name="" class="but" value="获取" onclick="checkMobile()"/>
            </div>
        </div>

        <input type="button" name="next" class="next action-button " value="下一步" />
    </fieldset>

    <fieldset>

        <div class="form-group" >
            <label class="col-sm-2 control-label no-padding-right" > 银行账户类型 </label>
            <div class="col-sm-7"  style="text-align:center">
                <input type="text" id="" name="" class="form-control"  value="" placeholder="" />
            </div>
        </div>

        <div class="form-group" >
            <label class="col-sm-2 control-label no-padding-right" > 银行开户行 </label>
            <div class="col-sm-7"  style="text-align:center">
                <input type="text" id="bankUserName" name="" class="form-control"  value="" placeholder="" />
            </div>
        </div>

        <div class="form-group" >
            <label class="col-sm-2 control-label no-padding-right" > 银行账户 </label>
            <div class="col-sm-7"  style="text-align:center">
                <input type="text" id="bankAccout" name="" class="form-control"  value="" placeholder="" />
            </div>
        </div>


        <div class="form-group" >
            <label class="col-sm-2 control-label no-padding-right" > 开户银行 </label>
            <div class="col-sm-7"  style="text-align:center">
                <input type="text" id="bankName" name="" class="form-control"  value="" placeholder="" />
            </div>
        </div>

        <div class="form-group" >
            <label class="col-sm-2 control-label no-padding-right" > 省 </label>
            <div class="col-sm-3">
                <select name="province" id="province" class="form-control">
                    <option value="0">全部</option>
                    @for(x in province){
                    <option value="${x.code!}">${x.name!}</option>
                    @}
                </select>
            </div>
        </div>

        <div class="form-group" >
            <label class="col-sm-2 control-label no-padding-right" > 市 </label>
            <div class="col-sm-3">
                <select name="city" id="city" class="form-control">

                </select>
            </div>
        </div>

        <div class="form-group" >
            <label class="col-sm-2 control-label no-padding-right" > 开户银行支行名称 </label>
            <div class="col-sm-7"  style="text-align:center">
                <input type="text" id="branchName" name="branchName" class="form-control"  value="" placeholder="" />
            </div>
        </div>

        <input type="button" id="submit" name="submit" class="submit action-button" value="提交" />
    </fieldset>

    <div class="space-4"></div>
</form>


<script src="${basePath}/static/layer/layer.js"></script>
<script src="${basePath}/static/laydate/laydate.js"></script>
<script src="${basePath}/static/jquery/jquery-2.1.4.min.js"></script>
<script src="${basePath}/static/jquery-res/js/jquery.easing.min.js"></script>
<script src="${basePath}/static/jquery-res/js/zzsc.js"></script>
<link rel="stylesheet" href="${basePath}/static/kindeditor/themes/default/default.css" />
<link rel="stylesheet" href="${basePath}/static/kindeditor/plugins/code/prettify.css" />
<script charset="utf-8" src="${basePath}/static/kindeditor/kindeditor.js"></script>
<script charset="utf-8" src="${basePath}/static/kindeditor/lang/zh_CN.js"></script>
<script charset="utf-8" src="${basePath}/static/kindeditor/plugins/code/prettify.js"></script>
<script charset="utf-8" src="${basePath}/static/kindeditor/plugins/image/image.js"></script>

<script src="${basePath}/static/validate/jquery-html5Validate.js"></script>
<script src="${basePath}/static/validate/jquery-html5Validate-min.js"></script>

<script type="text/javascript">
    var layerIndex = parent.layer.getFrameIndex(window.name);


    function city(code){
        $.post(
            "${ctxPath}/provinceCity/city",
            {code:code},
            function (data) {
                $("#city").empty();
                var html = "<option value='0'>全部</option>";
                for(var i=0;i<data.length;i++){
                    var code = data[i].code;
                    var name = data[i].name;
                    html += "<option value='"+code+"' >"+name+"</option>";
                }
                $("#city").append(html);
            },"json"
        );
    }


    function gain(){
        var mobile = $("#oldMobile").val();

    }

    function checkCode(){
        var code = $("#verification_code").val();
        $.post(
                "${ctxPath}/${code}/checkCode",
                {
                    code:code
                },
                function(data){
                    if (data.code === 0) {
                        $("#next").attr("disabled",false);
                    } else {
                        layer.msg(data.message, {
                            time: 500
                        });
                    }

                },"json"
        )

    }

    function checkMobile(){
        var mobile = $("#oldMobile").val();
        $.post(
                "${ctxPath}/${code}/checkMobile",
                {
                    mobile:mobile
                },
                function(data){
                    if (data.code === 0) {
                        //验证码
                        gain();
                    } else {
                        layer.msg(data.message, {
                            time: 500
                        });
                    }

                },"json"
        )
    }

    function setBank(){
        var bankUserName = $("#bankUserName").val();
        var bankAccout = $("#bankAccout").val();
        var bankName = $("#bankName").val();
        var province = $("#province").val();
        var city = $("#city").val();
        var branchName = $("#branchName").val();

        if(bankUserName==null || bankUserName==""){
            layer.msg('不能为空', {
                time: 1000
            });
            return;
        }

        if(bankAccout==null || bankAccout==""){
            layer.msg('验证码不能为空', {
                time: 1000
            });
            return;
        }

        if(bankName==null || bankName==""){
            layer.msg('验证码不能为空', {
                time: 1000
            });
            return;
        }

        if(province==null || province==""){
            layer.msg('验证码不能为空', {
                time: 1000
            });
            return;
        }

        if(city==null || city==""){
            layer.msg('验证码不能为空', {
                time: 1000
            });
            return;
        }

        if(branchName==null || branchName==""){
            layer.msg('验证码不能为空', {
                time: 1000
            });
            return;
        }

        $.post(
                "${ctxPath}/${code}/setBank",
                {
                    bankUserName:bankUserName,
                    bankAccout:bankAccout,
                    bankName:bankName,
                    province:province,
                    city:city,
                    branchName:branchName
                },
                function(data){
                    console.log(data);
                    if (data.code === 0) {
                        layer.msg(data.message, {
                            time: 500
                        },function(){
                            parent.location.reload();
                        });
                    } else {
                        layer.msg(data.message, {
                            time: 500
                        });
                    }

                },"json"
        )

    }

    $(function(){

        $("#province").change(function (){
            var id = $(this).val();
            city(id);
        });

        $("#submit").on("click",function(){
            setBank();
        });
    });
</script>

@}
