@layout("/common/_curd/_container.html"){
<!-- PAGE CONTENT BEGINS -->
<link rel="stylesheet" media="screen" href="${basePath}/static/jquery-res/css/zzsc.css" />
<link rel="stylesheet" media="screen" href="${basePath}/static/validate/common.css" />
<style>
	.but{
		width: 50px;
		height: 34px;
		background: #6fb3e0;
		font-weight: bold;
		color: white;
		border: 0 none;
		border-radius: 1px;
		cursor: pointer;

	}
	.but:hover, .but:focus {
		box-shadow: 0 0 0 2px white, 0 0 0 3px #6fb3e0;
	}
</style>
<form data-url="${basePath}/group/save" method="post" class="form-horizontal" role="form"
	  xmlns:blade="http://www.w3.org/1999/xhtml" id="msform">
	<!-- fieldsets -->
	<fieldset>
		<div class="form-group">
			<h4 class="col-sm-2 control-label no-padding-right" > --组织信息-- </h4>
		</div>
		<div class="form-group">
			<label class="col-sm-2 control-label no-padding-right" > 组织名称 </label>
			<div class="col-sm-3">
				<input type="text" name="name" id="name" placeholder="" class="form-control" required/>
			</div>
			<label class="col-sm-2 control-label no-padding-right" >组织代码证号</label>
			<div class="col-sm-3">
				<input type="text" name="code" id="code" value="" placeholder="" class="form-control" required/>
			</div>
		</div>

		<div class="form-group">
<!--			<label class="col-sm-2 control-label no-padding-right" > 组织代码证扫描件 </label>
			<div class="col-sm-3">
				<input type="text" name="" class="form-control"  value="" placeholder="" /> &lt;!&ndash;codeImage&ndash;&gt;

			</div>-->

			@ var __table="tb_group_extend";
			@ var __col=[
			@			  {name:"组织代码证号扫描件",index:"codeImage", type:"imgupload",newline:true,length:8,returnType:"id"}
			@		   ];
			@ include("/common/_curd/_add.html",{"col":__col,"table":__table}){}
		</div>

		<div class="form-group">
			<label class="col-sm-2 control-label no-padding-right" > 营业执照注册号 </label>
			<div class="col-sm-3">
				<input type="text" name="license" id="license" class="form-control"  value="" placeholder="" required/>
			</div>
		</div>

		<div class="form-group">
			@ var ___table="tb_group_extend";
			@ var ___col=[
			@			  {name:"营业执照扫描件",index:"licenseImage", type:"imgupload",newline:true,length:8,returnType:"id"}
			@		   ];
			@ include("/common/_curd/_add.html",{"col":___col,"table":___table}){}
		</div>
		<div class="form-group">
		<label class="col-sm-2 control-label no-padding-right" >运营者身份证姓名</label>
			<div class="col-sm-3">
				<input type="text" name="artificialPersonName" id="artificialPersonName" value="" placeholder="" class="form-control" required/>
			</div>
		</div>

		<div class="form-group">
			<label class="col-sm-2 control-label no-padding-right" > 运营者身份证号码 </label>
			<div class="col-sm-3">
				<input type="text" name="artificialPersonIdcard" id="artificialPersonIdcard"  value="" placeholder="" class="form-control" required/>
			</div>

			<label class="col-sm-2 control-label no-padding-right" >运营者手机号码</label>
			<div class="col-sm-3">
				<input type="text" name="artificialPersonMobile" id="artificialPersonMobile"  value="" placeholder="" class="form-control" required/>
			</div>
		</div>

		<div class="form-group">
			<label class="col-sm-2 control-label no-padding-right" >短信验证码</label>
			<div class="col-sm-3">
				<input type="text" name="" value="" placeholder="暂无" class="form-control" required/>
			</div>
		</div>

		<div class="form-group">
			<h4 class="col-sm-2 control-label no-padding-right" > --银行卡设置-- </h4>
		</div>
		<div class="form-group">
			<label class="col-sm-2 control-label no-padding-right" >银行账户类型</label>
			<div class="col-sm-3">
				<input type="text" value="对公银行账户" class="form-control" disabled="disabled"/>
			</div>

			<label class="col-sm-2 control-label no-padding-right" >银行开户名</label>
			<div class="col-sm-3">
				<input type="text" name="bankUserName" id="bankUserName" value=""  placeholder="" class="form-control" required/>
			</div>
		</div>

		<div class="form-group">
			<label class="col-sm-2 control-label no-padding-right" >银行账号</label>
			<div class="col-sm-3">
				<input type="text" name="bankAccout" id="bankAccout" value="" placeholder=""  class="form-control" required/>
			</div>

			<label class="col-sm-2 control-label no-padding-right" >开户银行</label>
			<div class="col-sm-3">
				<input type="text" name="bankName" id="bankName" value="" placeholder="" class="form-control" required/>
			</div>
		</div>

		<div class="form-group">
			<label class="col-sm-2 control-label no-padding-right" >开户行所在省</label>
			<div class="col-sm-3" >
				<select name="banckProvince" id="banckProvince" class="form-control">
					@for(x in province){
					<option value="${x.id!}">${x.name!}</option>
					@}
				</select>
			</div>
			<label class="col-sm-2 control-label no-padding-right" >开户行所在市</label>
			<div class="col-sm-3">
				<select name="bankCity" id="bankCity" class="form-control">
				</select>
			</div>

		</div>
		<div class="form-group">
			<label class="col-sm-2 control-label no-padding-right" >开户行支行名称</label>
			<div class="col-sm-3">
				<input type="text" name="branchName" id="branchName" value="" placeholder="" class="form-control" required/>
			</div>
		</div>

		<div class="form-group">
			<h4 class="col-sm-2 control-label no-padding-right" > --账号资料-- </h4>
		</div>

		<div class="form-group">
			@ var _table="tb_group";
			@ var _col=[
			@			  {name:"头像上传",index:"avater", type:"imgupload",newline:true,length:8,returnType:"id"}
			@		   ];
			@ include("/common/_curd/_add.html",{"col":_col,"table":_table}){}
		</div>

		<div class="form-group">
			<label class="col-sm-2 control-label no-padding-right" >组织ID</label>
			<div class="col-sm-3">
				<input type="text" name="idcard" id="idcard" value="" placeholder="" class="form-control" />
			</div>
		</div>

		<div class="form-group">
			<label class="col-sm-2 control-label no-padding-right" >设置密码</label>
			<div class="col-sm-3">
				<input type="text" name="password" id="password" value="" placeholder="" class="form-control" />
			</div>

			<label class="col-sm-2 control-label no-padding-right" >组织类型</label>
			<div class="col-sm-3">
				<select name="groupType" id="groupType" class="form-control">
					@for(x in groupType){
						<option value="${x.NUM!}">${x.NAME!}</option>
					@}
				</select>
			</div>
		</div>

		<div class="form-group">
			<label class="col-sm-2 control-label no-padding-right" >所在省</label>
			<div class="col-sm-3">
				<select name="province" id="province" class="form-control">
					@for(x in province){
						<option value="${x.id!}">${x.name!}</option>
					@}
				</select>
			</div>
			<label class="col-sm-2 control-label no-padding-right" >所在市</label>
			<div class="col-sm-3">
				<select name="city" id="city" class="form-control">
				</select>
			</div>
		</div>

		<div id="phone">
			<div class="form-group">
				<label class="col-sm-2 control-label no-padding-right" >服务热线</label>
				<div class="col-sm-3">
					<input type="text" name="landline" value="" placeholder="固定号码" class="form-control"/>
				</div>
				<div class="col-sm-1">
					<input type="button" name="" class="but" value="添加" onclick="phoneAdd()"/>
				</div>
			</div>
		</div>

		<div class="form-group">
			<label class="col-sm-2 control-label no-padding-right" >填写关键字</label>
			<div class="col-sm-3">
				<input type="text" id="targat" value="" placeholder="可输入10个字" class="form-control" maxlength="10" />
			</div>
			<div class="col-sm-1">
				<input type="button" name="" class="but" value="添加" onclick="keyWorkAdd(this)"/>
			</div>
		</div>

		<div class="form-group" id="keyWork">
			<label class="col-sm-2 control-label no-padding-right" ></label>
		</div>

		<input type="button" name="next" class="next action-button" value="下一步" />
	</fieldset>

	<!--第二步-->
	<fieldset>

		<div class="form-group">
			<h4 class="col-sm-2 control-label no-padding-right" > --页签1-- </h4>
		</div>
		<div class="form-group">
			<label class="col-sm-2 control-label no-padding-right" >页签标题</label>
			<div class="col-sm-8">
				<input type="text" name="title1" id="title1" value="" placeholder="输入标题(6个字)" class="form-control" maxlength="6" required/>
			</div>
		</div>

		<div class="form-group">
			<label class="col-sm-2 control-label no-padding-right" >详情内容</label>
			<div class="col-sm-8">
				<textarea  id="content1" name="content1" class="form-control" cols="100" rows="8" style="visibility:hidden;width:592px;height:300px;"></textarea>
			</div>
		</div>
		<div class="form-group">
			<label class="col-sm-2 control-label no-padding-right" >仅会员可见</label>
			<div class="col-sm-1">
				<input type="checkbox" name="isOpen1" id="isOpen1" value="1" style="height:20px;width: 20px; margin-top: 7px;" checked="checked" />
			</div>
		</div>
		<input type="button" name="previous" class="previous action-button" value="上一步" />
		<input type="button" name="next" class="next action-button" value="下一步" />
	</fieldset>

	<!--第三步-->
	<fieldset>

		<div class="form-group">
			<h4 class="col-sm-2 control-label no-padding-right" > --页签2-- </h4>
		</div>
		<div class="form-group">
			<label class="col-sm-2 control-label no-padding-right" >页签标题</label>
			<div class="col-sm-8">
				<input type="text" name="title2" id="title2" placeholder="输入标题(6个字)" class="form-control" maxlength="6" required/>
			</div>
		</div>

		<div class="form-group">
			<label class="col-sm-2 control-label no-padding-right" >详情内容</label>
			<div class="col-sm-8">
				<textarea  id="content2" name="content2" class="form-control" cols="100" rows="8" style="visibility:hidden;width:592px;height:300px;"></textarea>
			</div>
		</div>
		<div class="form-group">
			<label class="col-sm-2 control-label no-padding-right" >仅会员可见</label>
			<div class="col-sm-1">
				<input type="checkbox" name="isOpen2" id="isOpen2" style="height:20px;width: 20px; margin-top: 7px;" checked="checked"/>
			</div>
		</div>
		<input type="button" name="previous" class="previous action-button" value="上一步" />
		<input type="button" name="next" class="next action-button" value="下一步" />
	</fieldset>

	<!--第四步-->
	<fieldset>

		<div class="form-group">
			<h4 class="col-sm-2 control-label no-padding-right" > --页签3-- </h4>
		</div>
		<div class="form-group">
			<label class="col-sm-2 control-label no-padding-right" >页签标题</label>
			<div class="col-sm-8">
				<input type="text" name="title3" id="title3" placeholder="输入标题(6个字)" class="form-control" maxlength="6" required/>
			</div>
		</div>

		<div class="form-group">
			<label class="col-sm-2 control-label no-padding-right" >详情内容</label>
			<div class="col-sm-8">
				<textarea  id="content3" name="content3" class="form-control" cols="100" rows="8" style="visibility:hidden;width:592px;height:300px;"></textarea>
			</div>
		</div>
		<div class="form-group">
			<label class="col-sm-2 control-label no-padding-right" >仅会员可见</label>
			<div class="col-sm-1">
				<input type="checkbox" name="isOpen3" id="isOpen3" style="height:20px;width: 20px; margin-top: 7px;" checked="checked"/>
			</div>
		</div>

		<input type="button" name="previous" class="previous action-button" value="上一步" />
		<input type="button" id="submit" name="submit" class="submit action-button" value="提交" />
	</fieldset>

<div class="space-4"></div>
</form>

<script src="${basePath}/static/laydate/laydate.js"></script>
<script src="${basePath}/static/jquery/jquery-2.1.4.min.js"></script>
<script src="${basePath}/static/jquery-res/js/jquery.easing.min.js"></script>
<script src="${basePath}/static/jquery-res/js/zzsc.js"></script>
<link rel="stylesheet" href="${basePath}/static/kindeditor/themes/default/default.css" />
<link rel="stylesheet" href="${basePath}/static/kindeditor/plugins/code/prettify.css" />
<script charset="utf-8" src="${basePath}/static/kindeditor/kindeditor.js"></script>
<script charset="utf-8" src="${basePath}/static/kindeditor/lang/zh_CN.js"></script>
<script charset="utf-8" src="${basePath}/static/kindeditor/plugins/code/prettify.js"></script>
<script charset="utf-8" src="${basePath}/static/kindeditor/plugins/image/image.js"></script>

<script src="${basePath}/static/validate/jquery-html5Validate.js"></script>
<script src="${basePath}/static/validate/jquery-html5Validate-min.js"></script>

<script type="text/javascript">
	function phoneAdd(){
		var html = "";
		html += " <div class='form-group'>																				";
		html += " 	<label class='col-sm-2 control-label no-padding-right' ></label>                                    ";
		html += " 	<div class='col-sm-3'>                                                                              ";
		html += " 		<input type='text' name='landline' value='' placeholder='固定号码' class='form-control' />       ";
		html += " 	</div>                                                                                              ";
		html += " 	<div class='col-sm-1'>                                                                              ";
		html += " 		<input type='button' name='' class='but' value='删除' onclick='phoneDel(this)'/>                                        ";
		html += " 	</div>                                                                                              ";
		html += " </div>                                                                                                ";
		$("#phone").append(html);
	}

	function phoneDel(data){
		$(data).parent().parent().remove();
	}

	function keyWorkAdd(data){
		var text = $("#targat").val();
		if(text == ''){
			return;
		}

		var length = $("#keyWork").children("div").length;
		if(length>4){
			layer_alert("最多只能添加5个关键字!","warn");
			return;
		}

		var html = "";
		html += "<div class='col-sm-2 input-group' data-type='' style='float:left;background: #6fb3e0;color: #dde9ff;position: relative;font-size: 14px;width: auto;height:30px;line-height:30px;text-indent: 10px;margin:0 5px 5px 0'>" + text;
		html += "	<span class='o_close' data-percent='' onclick='keyWorkDel(this)' style='cursor: pointer;color: #ccc;margin: 0 5px auto'>x</span>	";
		html += "	<input type='hidden' name='targat' value='" + text + "'>";
		html += "</div>   ";

		$("#keyWork").append(html);
		$("#targat").val("");
	}

	function keyWorkDel(data){
		$(data).parent().remove();
	}

	$(function(){

		$("#province").change(function (){
			var id = $(this).val();
			city(id,1);
		});

		$("#banckProvince").change(function (){
			var id = $(this).val();
			city(id,2);
		});

		var editor1;
		var editor2;
		var editor3;

		KindEditor.ready(function(K) {
			var options = {
				cssPath : '${basePath}/static/kindeditor/plugins/code/prettify.css',
				uploadJson : '${ctxPath}/kindeditor/upload_json',
				//uploadJson : '${ctxPath}/image/upload_blob',
				fileManagerJson : '${ctxPath}/kindeditor/file_manager_json',
				items: ['source', '|', 'fontname', 'fontsize', '|', 'forecolor', 'bold', 'italic', 'underline', '|', 'justifyleft', 'justifycenter', 'justifyright', '|', 'image', 'multiimage', '|', 'plainpaste', 'wordpaste', '|','fullscreen'],
				filterMode : true
			};
			 editor1 = K.create('textarea[name="content1"]', options);
			 editor2 = K.create('textarea[name="content2"]', options);
			 editor3 = K.create('textarea[name="content3"]', options);

		});

		var layerIndex = parent.layer.getFrameIndex(window.name); //获取窗口索引
		$("#submit").on("click",function(){
			var chk = true;
			$("#msform div input").each(function(){
				if($(this).prop('required') == true && $(this).val() == ''){
					layer.msg('表格未填写完整', {
						time: 1000
					});
					chk = false;
					return;
				}
			});
			if(!chk){
				return;
			}
			editor1.sync();
			editor2.sync();
			editor3.sync();

			var name = $('#name').val();
			var code = $('#code').val();
			var license = $('#license').val();
			var artificialPersonName = $('#artificialPersonName').val();
			var artificialPersonIdcard = $('#artificialPersonIdcard').val();
			var artificialPersonMobile = $('#artificialPersonMobile').val();
			var bankUserName = $('#bankUserName').val();
			var bankAccout = $('#bankAccout').val();
			var bankId = $('#bankId').val();
			var bankName = $('#bankName').val();
			var banckProvince = $('#banckProvince').val();
			var bankCity = $('#bankCity').val();
			var branchName = $('#branchName').val();
			var password = $('#password').val();
			var type = $('#groupType').val();
			var province = $('#province').val();
			var city = $('#city').val();

			var title1 = $('#title1').val();
			var title2 = $('#title2').val();
			var title3 = $('#title3').val();

			var content1 = $('#content1').val();
			var content2 = $('#content2').val();
			var content3 = $('#content3').val();

			var targat = [];
			var phones = [];

			var isOpen1 ;
			var isOpen2 ;
			var isOpen3 ;

			if($('#isOpen1').is(':checked')){
				isOpen1 = 1;
			}else {
				isOpen1 = 2;
			}

			if($('#isOpen2').is(':checked')){
				isOpen2 = 1;
			}else {
				isOpen2 = 2;
			}

			if($('#isOpen3').is(':checked')){
				isOpen3 = 1;
			}else {
				isOpen3 = 2;
			}

			$("#keyWork div").each(function () {
				var value = $(this).find("input[name='targat']").val();
				targat.push(value)
			});

			$("input[name='landline']").each(function () {
				phones.push($(this).val());
			});

			$.post(
				"${ctxPath}/${code}/save",
				{
					name : name,
					code : code,
					license : license,
					artificialPersonName : artificialPersonName,
					artificialPersonIdcard : artificialPersonIdcard,
					artificialPersonMobile : artificialPersonMobile,
					bankUserName : bankUserName,
					bankAccout : bankAccout,
					bankId : bankId,
					bankName : bankName,
					banckProvince : banckProvince,
					bankCity : bankCity,
					branchName : branchName,
					password : password,
					type : type,
					province : province,
					city : city,
					title1 : title1,
					isOpen1 : isOpen1,
					title2 : title2,
					isOpen2 : isOpen2,
					title3 : title3,
					isOpen3 : isOpen3,
					content1 : content1,
					content2 : content2,
					content3 : content3,
					targat : JSON.stringify(targat),
					phones : JSON.stringify(phones)
				},
				function (data) {
					if (data.code===0) {
						layer.msg('成功', {
							time: 1000 //1s后自动关闭
						});
						parent.$jqGrid.jqGrid("setGridParam").trigger("reloadGrid");
						parent.layer.close(layerIndex);
					}
					else {
						layer.msg('失败', {
							time: 1000 //1s后自动关闭
						});
						layer_post(data);
					}
				}, "json"
			)

		})

	});

	function city(id,type){
		$.post(
			"${ctxPath}/provinceCity/city",
			{id:id},
			function (data) {
				if(type==1){
					$("#city").empty();
				}else {
					$("#bankCity").empty();;
				}
				var html = "";
				for(var i=0;i<data.length;i++){
					var id = data[i].id;
					var name = data[i].name;
					html += "<option value='"+id+"'>"+name+"</option>";
				}
				if(type==1){
					$("#city").append(html);
				}else{
					$("#bankCity").append(html);
				}
			},"json"
		)
	}






</script>


@}
