@layout("/common/_curd/_container.html"){

<script type="text/javascript">
	var ctx = "${basePath}";
	var grid_selector = "#grid-table";
	var pager_selector = "#grid-pager";

	$(function(){
		initGrid();
		initMenuBtn("btns", "${code}");
	});

	function initGrid(){
		var grid_url = ctx + "/${code}/list";
		var _colnames = [
			"序号",
			"关键字",
			"操作"
		];
		var _colmodel = [
			{name:"id",index:"id", width:80,hidden:true},
			{name:"name",index:"name", width:120},
			{
				width: 20,
				formatter: function (cellvalue, options, rowObject) {
					var id = rowObject.id;
					var update = "<button title='修改' class='btn btn-primary btn-circle edit' onclick=\"update(\'" + id + "\')\">" +
							"<i class='fa fa-circle'></i> 修改</button>";
					return update;
				}
			}
		];

		jQuery(grid_selector).jqGrid({
			url : grid_url,
			shrinkToFit:true,//适用于较少字段,响应式
			autowidth : true,
			forceFit : true,
			colNames : _colnames,
			colModel : _colmodel,
			jsonReader : {id :"id"},
			pager : pager_selector,
			postData : {sort : "id", order : "desc"}
		});
	}

	function update(id){
		//iframe层
		layer.open({
			type: 2,
			title: '封号处理',
			area: ['800px', '250px'],
			content: '${basePath}/${code}/update?id='+id
		});
	}


</script>


<!-- 配置 grid -->
<div class="row">
	<div class="col-xs-12 tb-grid">
		<!-- 按钮 -->
		<div class="welljq well-sm" id="btns"></div>
		<!-- grid -->
		<table id="grid-table"></table>
		<!-- 分页-->
		<div id="grid-pager"></div>
	</div>
</div>

<!-- 引入所需的js -->
@include("/common/_listscript.html"){}
@}