@layout("/common/_curd/_container.html"){
<html>
<head>
    <meta charset="utf-8">
    <title>ECharts</title>
    <!-- 引入 echarts.js -->
    <script src="${basePath}/static/echarts/build/dist/echarts.min.js"></script>
    <script src="${basePath}/static/laydate/laydate.js"></script>
    <script src="${basePath}/static/jquery/jquery-2.1.4.min.js"></script>
    <script src="${basePath}/static/jquery-res/js/jquery.easing.min.js"></script>
    <script src="${basePath}/static/jquery-res/js/zzsc.js"></script>
    <link rel="stylesheet" media="screen" href="${basePath}/static/jquery-res/css/zzsc.css" />
    <link rel="stylesheet" media="screen" href="${basePath}/static/validate/common.css" />
</head>
<body>
<!-- 为ECharts准备一个具备大小（宽高）的Dom -->
<div style="width: 1355px;height:120px;">
    <div>营收总额</div>
    <div>增值服务</div>
    <div>手续费</div>
</div>
<div class="form-group" >

    <div class="form-group" style="width: 1355px;height:80px;">
            <label class="col-sm-1 control-label no-padding-right" > 日期选择 </label>
            <div class="col-sm-3">
                <select name="statistical" id="statistical" class="form-control" onchange="scope(this)">
                    <option value=""></option>
                    <option value="1">年统计</option>
                    <option value="2">月统计</option>
                    <option value="3">日统计</option>
                </select>
            </div>
            <label class="col-sm-1 control-label no-padding-right" >范围</label>
            <div class="col-sm-3" id="select_list">
                <select name="statistical" id="123" class="form-control" >
                    <option value=""></option>
                </select>
            </div>
    </div>

</div>
<div id="main" style="width: 1355px;height:555px;"></div>

<script type="text/javascript">
    function scope(data){
        var type = $(data).val();
        $.post("${basePath}/${code}/scope", {type: type}, function (data) {
            if (data.code === 0) {
                $("#select_list").html(data.data);
            }
        }, "json");
    }

    $(function(){
        yearMonth(null,1)
    });

    // 基于准备好的dom，初始化echarts实例
    var myChart = echarts.init(document.getElementById('main'));

    function yearMonth(data,type){
        var val;
        if(data==null){
            var oDate = new Date(); //实例一个时间对象；
           //获取系统的年；
            val = oDate.getFullYear();
        }else {
            val = $(data).val();
        }

        console.log(val);
        console.log(type);
        console.log('--------------------------------------------');

        var url = "";
        if(type==3){
            url = "${ctxPath}/${code}/day";
        }else {
            url = "${ctxPath}/${code}/yearMonth"
        }

        $.post(
            url,
            {val:val,type:type},
            "json"
        ).done(function (data) {
            var dataList = JSON.parse(data);
            var list = dataList[0];
            var list1 = dataList[1];
            var time =[],amount=[],growth=[];

            for(var i=0;i<list.length;i++){
                for(var key in list[i]){
                    if(key=="key"){
                        time.push(list[i][key]);
                    }else {
                        amount.push(list[i][key]);
                    }
                }
                for(var key in list1[i]){
                    if(key!="key"){
                        growth.push(list1[i][key]);
                    }
                }
            }
            console.log("---------------------------");
            console.log(growth);


//            for(var key in list){
//                console.log("属性：" + key + ",值："+ list[key]);
//                time.push(key);
//                amount.push(list[key]);
//            }

            // 使用刚指定的配置项和数据显示图表。
            myChart.setOption({
                tooltip: {
                    trigger: 'axis'
                },
                toolbox: {
                    feature: {
                        dataView: {show: true, readOnly: false},
                        magicType: {show: true, type: ['line', 'bar']},
                        restore: {show: true},
                        saveAsImage: {show: true}
                    }
                },
                legend: {
                    data:['累积量','增长率']
                },
                xAxis: [
                    {
                        type: 'category',
                        data: time
                    }
                ],
                yAxis: [
                    {
                        type: 'value',
                        name: 'x',
                        min: 0,
                        interval: 0,
                        axisLabel: {
                            formatter: '{value} 元'
                        }
                    },
                    {
                        type: 'value',
                        name: 'y',
                        min: -1000,
                        max: 1000,
                        interval: 100,
                        axisLabel: {
                            formatter: '{value} %'
                        }
                    }
                ],
                series: [
                    {
                        name:'累积量',
                        type:'bar',
                        data:amount
                    },
                    {
                        name:'增长率',
                        type:'line',
                        yAxisIndex: 1,
                        data:growth
                    }
                ]
            });
        });

    }






</script>
</body>
</html>
@}